{% extends 'base2.html.twig' %}

{% block title %} {{ conseil.titre is defined ? conseil.titre | capitalize  : '' }}{% endblock %}

{% block body %}
 <!-- signle layout  -->
 {% if conseil != null and conseil is defined  %}

    <div class="container  ">
        <div class="p-lg-5 p-2">
            <div class=" p-5 ">
                <h2 class="text-capitalize"> {{ conseil.titre }} </h2>
                <img src="{{ asset('images/conseils/'~ conseil.image)}}" width="100%" class="img-fluid shadow-sm  " alt="...">
                <p class="mt-5">
                    {{ conseil.description | raw  }}

                </p>
                <span class="text-muted"></span>

            </div>
        </div>
</div>

{% endif  %}

{% include 'home/publicite.html.twig' with {
  'publicite' : pub2
} %}
{% include 'home/article.html.twig'%}






{% endblock %}
