{% extends 'base.html.twig' %}

{% block title %}Hello SingleController!{% endblock %}

{% block body %}
 <!-- signle layout  -->
    <div class="m-lg-5 m-3">
        <div class="row">
            <div class="col-md-8 ">
                <h3> Titre de l'article </h3>
                <img src="img/Santé-Numérique-570x380.jpg" width="100%" class="img-fluid shadow-sm " alt="...">
                <p class="mt-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam sapiente pariatur quae omnis quo nisi
                    beatae? Nisi, ratione possimus. Odit rem ab cumque, iure perspiciatis magni dolorum. Quasi, facere
                    ut?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, laboriosam accusamus natus deserunt
                    mollitia fugiat commodi in explicabo ipsa deleniti facilis nam inventore eum delectus totam
                    necessitatibus adipisci suscipit optio!

                </p>

                <span class="text-muted"> Publié le 12-12-2021 </span>

            </div>
            <!-- banner recent post   -->
            <div class="col-md-4">
                <div class=" ">
                    <h4>Article récent</h4>
                    <div class="row ">
                        <div class="col-md-12 mt-2">
                            <a href="" class="text-dark text-decoration-none">
                                <div class="row">
                                    <div class="col position-relative">
                                        <img src="img/sante_1_0.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <div class="col-md-7">
                                        <span class="text-success"> Titre de l'aticle</span>
                                        <div>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, dolores ....
                                        </div>
                                        <span class="text-muted"> 11-12-2021</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-12 mt-2">
                            <a href="" class="text-dark text-decoration-none">
                                <div class="row">
                                    <div class="col position-relative">
                                        <img src="img/sante_1_0.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <div class="col-md-7">
                                        <span class="text-success "> Titre de l'aticle</span>
                                        <div>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, dolores ....
                                        </div>
                                        <span class="text-muted"> 11-12-2021</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-12 mt-2">
                            <a href="" class="text-dark text-decoration-none">
                                <div class="row">
                                    <div class="col position-relative">
                                        <img src="img/sante_1_0.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <div class="col-md-7">
                                        <span class="text-success"> Titre de l'aticle</span>
                                        <div>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, dolores ....
                                        </div>
                                        <span class="text-muted"> 11-12-2021</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-12 mt-2">
                            <a href="" class="text-dark text-decoration-none">
                                <div class="row">
                                    <div class="col position-relative">
                                        <img src="img/sante_1_0.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <div class="col-md-7">
                                        <span class="text-success"> Titre de l'aticle</span>
                                        <div>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, dolores ....
                                        </div>
                                        <span class="text-muted"> 11-12-2021</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                      
                    </div>
                </div><br>
                <div class=" ">
                    <h4>Catégories</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="" class="text-dark text-decoration-none h6">
                                Assurance chomage 
                            </a>
                        </div>
                        <div class="col-mt-12">
                            <a href="" class="text-dark text-decoration-none h6">
                                video pratique en radiologie 
                            </a>
                        </div>
                        <div class="col-md-12">
                            <a href="" class="text-dark text-decoration-none h6">
                                Assurance chomage 
                            </a>
                        </div>

                    </div>



                </div>

            </div>

        </div>
    </div>

    <!-- article ralatif -->
    <section class="container   mt-5 mb-5 ">
        <h4 class="">Article relatifs </h4>
        <div class=" art  owl-carousel owl-theme  ">
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/sante_1_0.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non
                            officia.</p>
                        <a href="#" class="btn btn-success">lire plus</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/sante_1_0.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non
                            officia</p>
                        <a href="#" class="btn btn-success">lire plus</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/sante_1_0.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non
                            officia.</p>
                        <a href="#" class="btn btn-success">lire plus</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/sante_1_0.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non
                            officia.</p>
                        <a href="#" class="btn btn-success">lire plus</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/sante_1_0.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non
                            officia</p>
                        <a href="#" class="btn btn-success">lire plus</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/sante_1_0.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non
                            officia</p>
                        <a href="#" class="btn btn-success">lire plus</a>
                    </div>
                </div>
            </div>


        </div>
        <div class="text-center pt-3 justify-content-center">
            <a href="" class="btn btn-dark"> Voir tous les infos</a>
        </div>
    </section>
    <!-- banner pub -->
    <section class="container-fluid bg-default text-center d-flex  justify-content-center align-items-center p-5"
        style="height: 22rem; background: #F8C9BA ;">
        <h2>Banner pub</h2>
    </section>
    <section class="container-fluid pt-5">
        <h4 class="text-center">Assurance maladies : Togo </h4>
        <div class="assurance-banner pt-2 owl-carousel owl-theme">
            <div class="item">
                <div class="cover"></div>
            </div>
            <div class="item">
                <div class="cover"></div>
            </div>
            <div class="item">
                <div class="cover"></div>
            </div>
            <div class="item">
                <div class="cover"></div>
            </div>
            <div class="item">
                <div class="cover"></div>
            </div>
            <div class="item">
                <div class="cover"></div>
            </div>
            <div class="item">
                <div class="cover"></div>
            </div>
            <div class="item">
                <div class="cover"></div>
            </div>
            <div class="item">
                <div class="cover"></div>
            </div>
            <div class="item">
                <div class="cover"></div>
            </div>
            <div class="item">
                <div class="cover"></div>
            </div>

        </div>

    </section>
{% endblock %}
