{% extends 'base2.html.twig' %}

{% block title %} {{  maladienutrition.titre |capitalize }}{% endblock %}

{% block body %}
 <!-- signle layout  -->
 {% if maladienutrition != null and maladienutrition is defined  %}

    <div class="container ">
        <div class="p-lg-5 p-2">
            <div class=" ">
                <h2 class="text-capitalize"> {{ maladienutrition.titre }} </h2>
                <img src="{{ vich_uploader_asset(maladienutrition,'fichier')}}" width="100%" class="img-fluid shadow-sm " alt="...">
                <p class="mt-5">
                    {{ maladienutrition.description | raw  }}

                </p>


            </div>
            <!-- banner recent post   -->


        </div>

</div>
{% endif  %}



{% include 'home/article.html.twig'%}



{% endblock %}
