{% extends 'base.html.twig' %}

{% block title %}Hello world {% endblock %}

{% block body %}



    <!-- banner conseil -->
    <section class=" container-fluid p-lg-4 p-md-2  p-sm-1 p-2 " style="background-color: #0068FD;">
        <div class="container ">
            <p class="display-5 text-light ">
                Reduire Sa <br> consommation d'alcool <br>
                c'est reduire les risques <br>
                pour sa santé
            </p>
        </div>

    </section>
    <!-- banner flag  -->
    <section class="container position-relative">
        <h4 class="">Naviguer dans un pays </h4>
        <div class="banner-pays owl-carousel owl-theme ">
            <div class="item">
                <div class="banner-pays-flag">
                    <div class="flag">
                        <img src="img/togo.png" alt="">
                    </div>
                    <span>
                        togo
                    </span>
                </div>
            </div>
            <div class="item">
                <div class="banner-pays-flag">
                    <div class="flag">
                        <img src="img/benninpng.png" alt="">
                    </div>
                    <span>Benin</span>
                </div>
            </div>
            <div class="item">
                <div class="banner-pays-flag">
                    <div class="flag">
                        <img src="img/Ghanna.png" alt="">
                    </div>
                    <span>ghanna</span>
                </div>
            </div>

            <div class="item">
                <div class="banner-pays-flag">
                    <div class="flag">
                        <img src="img/burkina.png" alt="">
                    </div>
                    <span>Burkina faso</span>

                </div>
            </div>
            <div class="item">
                <div class="banner-pays-flag">
                    <div class="flag">
                        <img src="img/togo.png" alt="">
                    </div>
                    <span>
                        togo
                    </span>
                </div>
            </div>
            <div class="item">
                <div class="banner-pays-flag">
                    <div class="flag">
                        <img src="img/benninpng.png" alt="">
                    </div>
                    <span>Benin</span>
                </div>
            </div>
            <div class="item">
                <div class="banner-pays-flag">
                    <div class="flag">
                        <img src="img/Ghanna.png" alt="">
                    </div>
                    <span>ghanna</span>
                </div>
            </div>
            <div class="item">
                <div class="banner-pays-flag">
                    <div class="flag">
                        <img src="img/burkina.png" alt="">
                    </div>
                    <span>Burkina faso</span>
                </div>
            </div>
            <div class="item">
                <div class="banner-pays-flag">
                    <div class="flag">
                        <img src="img/togo.png" alt="">
                    </div>
                    <span>
                        togo
                    </span>
                </div>
            </div>
            <div class="item">
                <div class="banner-pays-flag">
                    <div class="flag">
                        <img src="img/benninpng.png" alt="">
                    </div>
                    <span>Benin</span>
                </div>
            </div>
            <div class="item">
                <div class="banner-pays-flag">
                    <div class="flag">
                        <img src="img/Ghanna.png" alt="">
                    </div>
                    <span>ghanna</span>
                </div>
            </div>
            <div class="item">
                <div class="banner-pays-flag">
                    <div class="flag">
                        <img src="img/burkina.png" alt="">
                    </div>
                    <span>Burkina faso</span>

                </div>
            </div>


        </div>
    </section>
    <!-- banner  article  -->
    {% include "home/article.html.twig" %}
    <!-- banner  article vidéos -->
    <section class="container  mt-5 mb-5 ">
        <h4 class="">Vidéo de conseils pratiques santé </h4>
        <div class="art owl-theme  owl-carousel  ">
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/Santé-Numérique-570x380.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non officia</p>
                            <a href="#" class="btn btn-primary ">lire plus </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/Santé-Numérique-570x380.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non officia</p>
                        <a href="#" class="btn btn-primary">lire plus </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/Santé-Numérique-570x380.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non officia.</p>
                            <a href="#" class="btn btn-primary">lire plus </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/Santé-Numérique-570x380.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non officia.</p>
                            <a href="#" class="btn btn-primary">lire plus </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/Santé-Numérique-570x380.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non officia.</p>
                            <a href="#" class="btn btn-primary">lire plus </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/Santé-Numérique-570x380.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non officia.</p>
                            <a href="#" class="btn btn-primary">lire plus </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center  pt-3 justify-content-center">
            <a href="" class="btn rounded-0 btn-dark"> Voir tous les vidéos</a>
        </div>
    </section>
    <!-- banner pub  -->
    <section class="container-fluid bg-default text-center d-flex  justify-content-center align-items-center p-5"
        style="height: 22rem; background: #F8C9BA ;">
        <h2>Banner pub</h2>
    </section>
   {% include "home/vignette.html.twig" %}
    <!-- banner pub -->
    <section class="container-fluid bg-default text-center d-flex  justify-content-center align-items-center p-5"
        style="height: 22rem; background: #F8C9BA ;">
        <h2>Banner pub</h2>
    </section>
    <section class="container-fluid pt-5">
        <h4 class="text-center">Assurance maladies : Togo </h4>
        <div class="assurance-banner pt-2 owl-carousel owl-theme">
            <div class="item">
                <div class="cover"></div>
            </div>
            <div class="item">
                <div class="cover"></div>
            </div>
            <div class="item">
                <div class="cover"></div>
            </div>
            <div class="item">
                <div class="cover"></div>
            </div>
            <div class="item">
                <div class="cover"></div>
            </div>
            <div class="item">
                <div class="cover"></div>
            </div>
            <div class="item">
                <div class="cover"></div>
            </div>
            <div class="item">
                <div class="cover"></div>
            </div>
            <div class="item">
                <div class="cover"></div>
            </div>
            <div class="item">
                <div class="cover"></div>
            </div>
            <div class="item">
                <div class="cover"></div>
            </div>

        </div>

    </section>
    <!-- footer  -->

{% endblock %}
